div #output{
  font-size: 100px;
}
body {
  background-color: lightgray;
}
.header {
  text-align: center;
  border-width: 5px;
  border-color: gray;
  padding: 15px;
}
input {
  width: 100%;
}
form {
  margin: 20px;
}
